*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{ 
    font-size:62.5%;
    min-width: 100vw;
    min-height: 100vh;
    
}
h1{
    font-size: 4.8rem;
    color:#F9FAF8;
    font-weight: 800;
    width:18ch;
    font-family: 'Open Sans', sans-serif;
   
}
body{
   height:100%;
   width:100%;
}
.top-header{
    display:flex;
    justify-content: space-between;
    width:80%;
}
.header-section{
    background-color: #1F2937;
    padding:2rem 0rem;
    display:flex;
    flex-direction: column;
    gap:7rem;
    width:100%;
    align-items: center;
   
}
.header-links{
    display:flex;
    gap:2rem;

}
.header-links > a, p{
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    color:#E5E7EB;
   
}

.header-logo{
    font-size: 2.4rem;
    color:#F9FAF8;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;

}
.header-image{
   width:40%;
   flex-shrink: 0;
}

.bottom-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}


img{
    width:100%;
    height:auto;
}

p{
    width:43ch;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 800;
    padding:0.6rem;
    width:10rem;
    border-radius: 6px;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
}

.introduction-container{
    display:flex;
    flex-direction: column;
    gap:1rem;
}

h2{
    font-size: 3.6rem;
    font-weight: 800; 
    font-family: 'Open Sans', sans-serif;
    color:#1F2937
}

